<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home Page</title>

<!--navbar-->
<link rel="stylesheet" href="../css/navbar.css">
<link rel="stylesheet" href="../css/adminCSS.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Handlee&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Rampart+One&display=swap" rel="stylesheet">
	<style>
		.h2 {font-family: 'Cabin Sketch', cursive;}
	</style>
</head>
<body>
	<!--- ----navigation bar--->
<div class="contain">
    <div class="navbar">
		<div class="padding">
	<ul>  
	<li class="active">
	<li><a href="/home"><i class="fa fa-home" style="font-size:36px"></i>Home</a></li> 
	</li>
	<li><a href="/logout"><i class="fa fa-user" style="font-size:36px"></i>Welcome Admin</a>
	</li>
		</li>
	</ul>
   </div>
	</div>
	</div>
   
<!-----navigation bar----->
<br><br><br>
	<div class="boxmodel">
	<h2 style="font-family: Rampart One ;"> Menu List Based On Category</h2><br>
	<a href=/menulist><button class="button-55" role="button">Standard</button></a>
	<a href=/menulistM><button class="button-55" role="button">Medium</button></a>
	<a href=/menulistR><button class="button-55" role="button">Royal</button></a><br><br>
	<a href=/menulistP><button class="button-55" role="button">Package</button></a>

	</div>
</body>
</html>