<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Medium Menu</title>

<!--navbar-->
<link rel="stylesheet" href="../css/navbar.css">
<link rel="stylesheet" href="../css/adminCSS.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Handlee&display=swap" rel="stylesheet">
	

<body>
	<!--- ----navigation bar--->
<div class="contain">
    <div class="navbar">
		<div class="padding">
	<ul>  
	<li class="active">
	<li><a href="user/userhomepage.html"><i class="fa fa-home" style="font-size:30px"></i>Home</a></li>
	<li><a href="#"><i class="fa solid fa-gift" style="font-size:30px"></i>Gift</a>
	<div class="sub-navbar-1">
	<ul>
	  <li><a href="/standard">Standard</a></li>
		 <li><a href="/medium">Medium</a></li>
		 <li><a href="/royal">Royal</a></li>
	     <li><a href="/package">package</a></li>
	</ul>
	</div>
	</li>
	<li><a href="/loyalty"><i class="fa fa-shopping-cart" style="font-size:32px"></i>Loyalty Voucher</a> </li>
	<li><a href="#"><i class="fa fa-user" style="font: size 30px"></i>Profile</a>
		<div class="sub-navbar-1">
		<ul>
		  <li><a href="/profile">My Profile</a></li>
			 <li><a href="/updateprofile">Update Profile</a></li>
			 <li><a href="/logout">Log out</a></li>
		</ul>
		</div>
		</li>
	
    </li>
	</ul>
   </div>
	</div>
	</div>
   
<!-----navigation bar----->
<!-----navigation bar----->

<h1 style="font-family: 'Cookie', cursive;">Special for Member Sweet Surprise Gift Shop</h1>
<br><h2 style="font-family: 'Concert One', cursive;">You can get special offers with scan and pay</h2>
<br><h2 style="font-family: 'Concert One', cursive;">Screenshot and Use it When Dropping By Our Shop</h2>
<br><br><br><br>
<img src = "user/img/loyalty.png" alt = "RECOMMENDED" align = "middle" width="850" height="500">

</body>
</center>
</html>