<!doctype html>

<title>Sweet GiftShop Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/main.css"></head>


	<body>
   <div class="row">
	 <div class="col-1">
		<h1 style="color:rgb(17, 20, 72);">SWEET SURPRISE GIFT SHOP</h1><br><br><br><br><br><br>
		<h3 style="color:rgb(22, 15, 14);">"Everyone Gets Their Desired Gifts at Affordable Prices" </h3><br><br><br><br><br><br>
	    
		<a href="/ALogin">
			<button class="button-30" role="button">Admin</button>
		<a href="/login">
			<button class="button-30" role="button">User</button>
	 </div>
  </div>
  </div>
</body>
</html>